<h1>Hello from show list</h1>

<h1>
Your list :<%= @list.name %>
</h1>

<% if @list.photo.attached? %>
  <div class="card d-inline-flex p-2">
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <p> ------------------------------------------------------ </p>
<% end %>




<% @list.bookmarks.each do |bookmark| %>
  <div class="card d-inline-flex p-2" style="width: 18rem;">
  <img src= <%= bookmark.movie.poster_url %> class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title"><li class="list-group-item"> <%= bookmark.movie.title %> </h5>
    <p> <%= bookmark.movie.overview %></p>
  </div>

  <%= link_to "(x)", bookmark_path(bookmark), data: {turbo_method: "delete", turbo_confirm: 'Are you sure?'}%>
  </div>
<% end %>



<div class="alert alert-success" role="alert">
<%= link_to "🔙GO BACK ", lists_path %> |
<%= link_to "+ADD A MOVIE", new_list_bookmark_path(@list) %> |

</div>
